- 
  var siteUrl = 'http://example.com/';
  var keywords = '';
  var description = 'Default Description';
  var ogType = 'article';
  var ogImage = siteUrl + 'common/images/og.png';
  var siteName = 'Default Sitename';
  var title = 'Default Title';
  var bodyClass = 'Default-Body-Class';

